In [2]:
import pandas as pd
import os

In [9]:
# Read in the bulk individual contribution file from FEC.gov

# Directory containing the text files
directory = './indiv24/by_date'

chunk_size = 200000  # Number of rows per chunk
column_names = [
    'ID', 'Field1', 'Field2', 'Field3', 'Field4', 'Field5', 'Field6', 'Name', 'City', 'State', 'Zip',
    'Employer', 'Occupation', 'Date', 'Amount', 'OtherID', 'Field16', 'Field17', 'Field18', 'Field19', 'Field20'
]

# Initialize an empty list to store DataFrames
dfs = []

# Loop over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.txt'):
        file_path = os.path.join(directory, filename)
        df = pd.read_csv(file_path, delimiter='|', names=column_names, header=None, low_memory=False)
        dfs.append(df)

# Concatenate all DataFrames in the list
combined_df = pd.concat(dfs, ignore_index=True)
combined_df.head()

,ID,Field1,Field2,Field3,Field4,Field5,Field6,Name,City,State,...,Employer,Occupation,Date,Amount,OtherID,Field16,Field17,Field18,Field19,Field20
0,C00079681,N,M6,P,202306129581782820,15,IND,"GODLEWSKI, KIM",FENTON,MI,...,IPS EQUIPMENT,VICE PRESIDENT,5282023.0,100,NaN,2425123,1707004,NaN,NaN,4061220231749193699
1,C00409730,N,M6,P,202306129582118675,15E,IND,"ROBERTS, PHILIP",SEATTLE,WA,...,"RYAN, SWANSON & CLEVELAND, PLLC",ATTORNEY,5282023.0,500,C00699470,15444361,1707040,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4061320231749244130
2,C00409730,N,M6,P,202306129582118670,15E,IND,"GRUNDSTEIN, LEON",MERCER ISLAND,WA,...,"GENCARE, INC","SENIOR LIVING OWNER, DEVELOPER, OPERAT",5282023.0,500,C00699470,15444363,1707040,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4061320231749244117
3,C00409730,N,M6,P,202306129582118676,15E,IND,"SCHOCKEN, JOSEPH L.",SEATTLE,WA,...,BROADMARK CAPITAL,PRESIDENT,5282023.0,5000,C00699470,15444362,1707040,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4061320231749244134
4,C00063164,N,M6,P,202306139582145211,15,IND,"MCMILLAN, S TODD",COLORADO SPRINGS,CO,...,MCDONALD'S,LICENSEE,5282023.0,200,NaN,17411206,1707152,NaN,NaN,4061320231749248513

In [11]:
pd.set_option('display.max_columns', None)
combined_df.head()

,ID,Field1,Field2,Field3,Field4,Field5,Field6,Name,City,State,Zip,Employer,Occupation,Date,Amount,OtherID,Field16,Field17,Field18,Field19,Field20
0,C00079681,N,M6,P,202306129581782820,15,IND,"GODLEWSKI, KIM",FENTON,MI,484309630,IPS EQUIPMENT,VICE PRESIDENT,5282023.0,100,NaN,2425123,1707004,NaN,NaN,4061220231749193699
1,C00409730,N,M6,P,202306129582118675,15E,IND,"ROBERTS, PHILIP",SEATTLE,WA,981092846,"RYAN, SWANSON & CLEVELAND, PLLC",ATTORNEY,5282023.0,500,C00699470,15444361,1707040,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4061320231749244130
2,C00409730,N,M6,P,202306129582118670,15E,IND,"GRUNDSTEIN, LEON",MERCER ISLAND,WA,980402445,"GENCARE, INC","SENIOR LIVING OWNER, DEVELOPER, OPERAT",5282023.0,500,C00699470,15444363,1707040,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4061320231749244117
3,C00409730,N,M6,P,202306129582118676,15E,IND,"SCHOCKEN, JOSEPH L.",SEATTLE,WA,981014129,BROADMARK CAPITAL,PRESIDENT,5282023.0,5000,C00699470,15444362,1707040,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,4061320231749244134
4,C00063164,N,M6,P,202306139582145211,15,IND,"MCMILLAN, S TODD",COLORADO SPRINGS,CO,809623583,MCDONALD'S,LICENSEE,5282023.0,200,NaN,17411206,1707152,NaN,NaN,4061320231749248513

In [12]:
# Create a primary key column by combining Name and Zip
combined_df['PrimaryKey'] = combined_df['Name'] + '_' + combined_df['Zip'].astype(str)

# Group by the primary key and aggregate
final_df = combined_df.groupby('PrimaryKey').agg(
    RecordCount=('PrimaryKey', 'size'),
    TotalAmount=('Amount', 'sum')
).reset_index()

In [24]:
# Issue: Some entries include middle name or title, or change use a zip+4 code in place of a zip code
filtered_df = final_df.loc[final_df['PrimaryKey'].str.startswith('MAKOWSKI, BRUCE')]
print(filtered_df)

                                   PrimaryKey  RecordCount  TotalAmount
1682585             MAKOWSKI, BRUCE_480171279        20092        60654
1682583                 MAKOWSKI, BRUCE_48017        11038        31870
1682579      MAKOWSKI, BRUCE EDWARD_480171279         2146         6945
1682578  MAKOWSKI, BRUCE EDWARD MR._480171279          342         3004
1682584             MAKOWSKI, BRUCE_480171227          230         1028
1682580         MAKOWSKI, BRUCE MR._480171279           94          583
1682582                 MAKOWSKI, BRUCE_47985            5            4
1682581              MAKOWSKI, BRUCE MR_48017            4            6

In [18]:
final_df = final_df.sort_values(by='RecordCount', ascending=False)
pd.set_option('display.max_rows', None)
final_df.head(100)

                              PrimaryKey  RecordCount  TotalAmount
1682585        MAKOWSKI, BRUCE_480171279        20092        60654
1311445         JAHNS, RICHARD_760405951        18705       360303
867301           FORD, BEVERLY_300673614        16791       155112
810454            FARR, GERALD_786665129        15304       203311
1427098         KESKITALO, CANDACE_55384        12724        71559
2781986          URBANOWICZ, WENDY_98668        11912        64469
1682583            MAKOWSKI, BRUCE_48017        11038        31870
1049787            GRISWOLD, EDSON_80231        10642       141357
1630983         LOONEY, GEORGE_300402707        10587        26656
2567262           SOLORZANO, DIANA_92056         9963         8914
2978530            WOODS, BARB_601483638         9659        78583
1821015     MENEGHELLI, CECILE_944043824         9101        60020
2435594   SCHWEITZER, MICHELLE_981081538         9000        59626
1442206            KING, ALLAN_085405852         8505        82297
1659696       LYONS, CHRISTA LYONS_22314         8210        58881
2441068           SCOTT, ROGER_421019427         8199        29978
636356            DEARMAN, MELINDA_78261         8018        39973
2178063       PRESLEY, JUANITA_836424742         7720       118438
1427099     KESKITALO, CANDACE_553849734         7624        59482
2524488        SKINNER, SHARON_958166608         7520        75672
1732584         MATENOS, AGNES_019608572         7451        50862
1519586           LAHAY, DAVID_658092356         7378        60240
1880177         MONDER, STEVEN_452154105         7014       133610
1439245           KIM, SUN HAE_113673921         6773        14239
1297875            IVAN, LAJOS_088051232         6714        13812
88092            AROSE, ROBERT_077622274         6549        67052
867300               FORD, BEVERLY_30067         6535        54183
1880176             MONDER, STEVEN_45215         6402       119823
2781987      URBANOWICZ, WENDY_986686163         6383        86047
1442499                 KING, BILL_73052         6306        87756
1972860             NEWMAN, HAROLD_33180         6271        72414
358103        BURGESS, RICHARD_236932544         6184       112006
1010035            GORE, TRINA_333255426         6146        25312
844067         FISHER, CHARLES_920071882         6137       221812
2691233           TAYLOR, JILL_598045849         6026        37609
721694            DUERST, JOHN_973819212         5996        95348
2178059           PRESLEY, JUANITA_83642         5969        83767
2441550              SCOTT, THOMAS_99504         5878        49528
2888644                WELDEN, AMY_97520         5875        26320
756717           EHLER, JOANNE_601011859         5793        40604
1345404              JOHNSON, MARK_45640         5775        62264
1376905             KADO, AIDA_077537634         5727        40616
2199417         QUILLIN, RANDY_376601165         5686        11544
1437581            KILPATRIC, GARY_87505         5678        39965
1978690          NICHOLLS, ROSALIE_78748         5593        61958
2166537          POSEY, LANEAL_391574513         5575        70287
2285002     ROAN DENNIS, CAROL ANN_98277         5545        20971
2828541              WADE, DAN_891384671         5507        21670
125820             BALDWIN, JEANNE_08343         5399        81518
1788442        MCKEE, LAURENCE_294854805         5380        59150
382251            CAFFREY, DOROTHY_60126         5354        42385
2863243        WATERMAN, NORMA_982267764         5328        30867
1156030         HEATON, VONNIE_301018950         5323        29937
3018009       ZARCONE, ANNAMAE_110041102         5275        23933
1484147            KOSMINSKY, JANE_10023         5155        34327
455097            CHASIN, MARK_070526603         5153        42172
1728086             MASON, GWYNETH_73132         5136        21860
1096425         HAMLIN, DENNIS_782581629         5101        31092
2545001           SMITH, KAREN_740083754         5040        89497
2883901              WEISBART, JAN_90035         4944        45610
1155981          HEATON, KEVIN_921311632         4943        81198
2154904             POHOST, GERALD_90005         4915        22057
1382041                 KAM, DINNY_92057         4906        21778
1976694      NGUYEN, KATHERINE_217403576         4896         4658
1662543         MAAKE, FISIITETEFA_96782         4882        41962
2046905         OVERBECK, JOHN_191191528         4872        49858
2831566           WAGNER, LYNN_335967005         4870        73064
2155109         POINTS, MARSHA_757032015         4844        32348
2368688           SALATA, SUSAN L._06604         4812        40179
50814                 ALVES, DIANE_97215         4773        43555
1297874                IVAN, LAJOS_08805         4746         5641
137997      BARELAS, HORTENCIA_770354222         4727        13363
2509003          SIMMONS, JUDY_314042802         4701        68733
797687                 EVIDON, EVE_55436         4693        32334
677636         DILGER, HERBERT_606464832         4693        48301
1449376              KIPPUR, SUSAN_10023         4637        46588
1496160              KRIEGER, KARL_21654         4555        84018
1972864         NEWMAN, HAROLD_331803546         4541        48742
1976693          NGUYEN, KATHERINE_21740         4503         3431
1864627     MIRABILE, LORRAINE_321622208         4503        45083
79326           ARCHER, SANDRA_605171739         4497        29534
1921703        MUELLER, JOSEPH_126015640         4484        49965
223737           BILLINGS, GREGORY_20011         4463        12330
262198             BONIN, JUDY_244016287         4458        58823
407273           CAREY, ILDIKO_183537773         4457        29390
613688           DAVENPORT, ANNE I_19147         4427        39420
558797                   COX, JUNE_59327         4400        21771
284873          BOYNTON, ELIZABETH_04074         4397        27458
602575                 DALY, CAROL_94087         4379        24765
2966232  WOINAROWICZ, KATHLEEN_554220545         4353        49397
2524487            SKINNER, SHARON_95816         4352        44663
2981187         WOOLARD, LINDA_481609153         4346        50930
1010034                GORE, TRINA_33325         4330        20115
757752            EICHEL, LAURENCE_80549         4328        82223
1437582        KILPATRIC, GARY_875055714         4327        27988
1147268               HAY, RICHARD_60304         4228        12268
1049788        GRISWOLD, EDSON_802315602         4195        98464
2544999               SMITH, KAREN_74008         4172        73982
2092747          PAYNE, SYLVIA_231853318         4164        50641
2777030               UHLER, ROGER_03245         4105        32529